<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div>
    <ion-img src="https://imgs.search.brave.com/5k6834iQidA4yK3U5JanNq0HEmC_YD7IDdYyIGMwzNU/rs:fit:474:225:1/g:ce/aHR0cHM6Ly90c2Uy/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5k/NlcwVEh2SlB2d0hL/OHdwVmkxcjRRSGFI/YSZwaWQ9QXBp" alt="Caja_Herramientas"></ion-img>
  </div>
  <div>
    <p class="ion-text-center">Una aplicacion que brinda varias herramientas, utilizando algunas APIS.</p>
    <p class="ion-text-center">Puede probar las funcionalidades navegando mediante el sidemenu.</p>
  </div>
</ion-content>
