<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Contratame</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="../../../assets/images/JRPO.jpeg" alt="profile-picture"></ion-img>
    <ion-card-header class="ion-text-center">
      <ion-card-title>Jose Rafael Perez Ogando</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <a href="mailto:mrjoserafael9@gmail.com">
        <ion-button expand="block">Contactame</ion-button>
      </a>

      <div class="redes-container">
        <h3 class="ion-text-center">Redes Sociales</h3>
        <div class="icons-container">
          <a href="https://github.com/mrjose9/" target="_blank">
            <ion-icon id="github" name="logo-github"></ion-icon>
          </a>
          <a href="https://www.linkedin.com/in/jos%EF%BF%BD-rafael-p%EF%BF%BDrez-ogando-8250a3263/" target="_blank">
            <img src="../../../assets/icon/icons8-linkedin-48.png" alt="logo_Linkedin">
          </a>
          <a href="https://www.instagram.com/jose_perezropp?igsh=dzh5cTBudG9icTlp" target="_blank">
            <img src="../../../assets/icon/icons8-instagram-48.png" alt="logo_instagram">
          </a>
        </div>
      </div>
    </ion-card-content>

  </ion-card>
</ion-content>
